* {
    font-family: "Quicksand", sans-serif;
  }

  body {
    background-image: linear-gradient(90deg, black, rgb(219, 219, 139));
    
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: rgb(219, 219, 139);
  }

  .navlist {
    list-style-type: none;
    margin-right: 20px;
  }

  .navlist .navitem {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    margin-top: 15px;
    
  }

  .navlist .navitem:hover {
    opacity: .6;
  }

  .navlink {
    text-decoration: none;
    color: rgb(219, 219, 139);
  }
  
  .navlink-current {
    text-decoration: none;
    color: rgb(219, 219, 139);
    padding-bottom: 50px;
    border-bottom: 5px solid rgb(219, 219, 139);
  }

  .img-div {
    width: 120px;
  }

  .profile-name {
    padding: 15px;
    padding-top: 25px;
    font-size: 20px;
    margin-top: 20px;
    width: 90px;
  }

  .profile-name:hover {
    opacity: .6;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .navtabs {
    padding: 0 123px
  }


h1{
  text-align: center;
  color: rgb(219, 219, 139);
  margin-top: 50px;
}

form{
    width: 35rem;
    margin: auto;
    color: black;
    
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

.btn-div {
  text-align: center;
  text-decoration: none;
}

.btnlogin {
  background-color: rgb(219, 219, 139);
  color: black;
  margin-top: 20px;
  padding: 14px 200px;
  border-radius: 5px;
  font-size: 17px;
}

.btnlogin a {
  text-decoration: none;
  color: black;
}

.btnforgotp {
  background-color: rgb(219, 219, 139);
  color: black;
  margin-top: 20px;
  padding: 14px 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 17px;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

  .headingsContainer{
     text-align: center;
}

   p {
    color: rgb(219, 219, 139);
    
}

.forgot-p {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
  .mainContainer{
    padding: 16px;
}
  .subcontainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
 .subcontainer a{
 font-size: 16px;
 margin-bottom: 12px;
}
  
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }

  .forgotpass {
    color: rgb(219, 219, 139);
  }

  .forgotpass:visited {
    color: rgb(219, 219, 139);
  }

  .login-container {
    background-color: black;
    border: 2px solid rgb(219, 219, 139);
    padding: 10px 0;  
    margin: auto;
    width: fit-content;
  }

  .login-header {
    display: flex;
    width: fit-content;
    margin: auto;
  }

  .login-logo {
    height: 40%;
    width: 40%;

  }

  .requests-di p {
    color: black;
  }

  .create-container {
    background-color: black;
    border: 2px solid rgb(219, 219, 139);
    padding: 15px 20px; 
    padding-bottom: 25px; 
    margin: auto;
    width: fit-content;
  }

  label {
    color: rgb(219, 219, 139);
  }

  .requests-container {
    background-color: rgb(65, 65, 48);
    border: 2px solid black;
  }

  .requests-table {
    width: 1500px;
  }

  th {
    text-align: left;
  }

  table, th, td {
    border: 2px solid black;
  }

  .requests-item {
    background-color: black;
    padding: 0 10px;
  }

  .requests-di {
    background-color: rgb(219, 219, 139);
    padding: 0 10px;
    font-weight: bold;
  }

  .requests-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 1517px;
    background-color: black;
  }

  .btnaccept {
    background-color: green;
    color: white;
    margin-top: 20px;
    padding: 14px 14px;
    border-radius: 5px;
    font-size: 17px;
  }

  .btndeny {
    background-color: red;
    color: white;
    margin-top: 20px;
    padding: 14px 20px;
    border-radius: 5px;
    font-size: 17px;
  }

  .edit-shifts-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
  

  .shifts-form {
    background-color: black;
    border: 2px solid rgb(219, 219, 139);
    padding: 15px 20px;  
    margin-right: 15px;
    width: fit-content;
  }

  .drop-container {
    background-color: rgb(65, 65, 48);
    border: 2px solid black;
  }

  .drop-item {
    background-color: black;
    padding: 0 10px;
  }

  .drop-data {
    background-color: rgb(219, 219, 139);
    padding: 0 10px;
    font-weight: bold;
  }

  .drop-data p {
    color: black;
  }

  .drop-table {
    width: 1000px;
    
  }

  .drop-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    width: 1020px;
    height: 100px;
    background-color: black;
  }

  .scroll {
    min-height: 365px;
    max-height: 356px;
    overflow-y: scroll;
  }

  .take-container {
    background-color: rgb(65, 65, 48);
    border: 2px solid black;
  }

  .take-item {
    background-color: black;
    padding: 0 10px;
  }

  .take-data {
    background-color: rgb(219, 219, 139);
    padding: 0 10px;
    font-weight: bold;
  }

  .take-data p {
    color: black;
  }

  .take-table {
    width: 1000px;
    
  }

  .take-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    width: 1020px;
    height: 100px;
    background-color: black;
  }

  .scroll-take {
    min-height: 515px;
    max-height: 356px;
    overflow-y: scroll;
  }

  .schedule-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  .cs-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
  

  .calendar {
    margin-right: 15px;
    background-color: black;
  }

  .month {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 5px;
    font-weight: bold;
  }

  .calendar-header {
    border: hidden;
  }

  .calendar-item {
    background-color: black;
    color: rgb(219, 219, 139);
  }

  .calendar-di {
    background-color: rgb(219, 219, 139);
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    vertical-align: top;
  }

  .calendar-header th {
    text-align: center;
  }

  .calendar-di p {
    font-size: 12px;
    color: white;
    padding: 0;
    background-color: green;
  }

  .calendar-di .osclose {
    font-size: 12px;
    color: white;
    padding: 0;
    background-color: red;
  }

  .calendar-di .ospassed {
    font-size: 12px;
    color: white;
    padding: 0;
    background-color: grey;
  }